body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #2c3e50, #3498db);
    color: #170909;
    background-image:url('https://i.pinimg.com/originals/fe/e5/46/fee54690963240994bf2b3c6342bc89a.jpg');
  }
  
  .container {
    width: 90%;
    max-width: 400px;
    margin: 50px auto;
    background: #0a091a;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #1b1010;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background: #3498db;
    border: none;
    color: #170303;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #071925;
  }
  